@use "../abstracts/queries";

.social-proof {
  padding: 80px 0 100px;

  &__description {
    margin-bottom: 40px;
    color: var(--color-neutral-dark-grayish-magenta);
    font-size: 0.9375rem; // 15px
    font-weight: 500;
    line-height: 1.66666667; // 25px / 15px
    letter-spacing: -0.3px;
  }

  &__ratings {
    list-style: none;
    padding: 0;
  }

  &__rating {
    padding: 16px;
    border-radius: 8px;
    background-color: var(--color-neutral-light-grayish-magenta);

    &:not(:first-child) {
      margin-top: 16px;
    }

    &__star {
      display: inline-block;
      margin: 0 2px;
    }

    &__body {
      display: inline-block;
      margin-top: 16px;
      font-weight: 700;
    }
  }

  &__reviews {
    list-style: none;
    padding: 0;
  }

  &__review {
    padding: 40px 32px 32px;
    border-radius: 8px;
    background-color: var(--color-primary-dark-magenta);
    color: var(--color-neutral-white);
    text-align: left;

    &:not(:first-child) {
      margin-top: 16px;
    }

    &__meta {
      display: flex;
      align-items: center;
      margin-bottom: 26px;
    }

    &__profile-img {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin-right: 23px;
      border-radius: 50%;
    }

    &__name {
      margin-bottom: 5px;
      font-weight: 700;
      line-height: 1;
    }

    &__verified {
      color: var(--color-primary-soft-pink);
      line-height: 1;
    }

    &__body {
      font-weight: 500;
      line-height: 1.69230769; // 22px / 13px
    }
  }

  @include queries.respond-to(tablet-portrait-above) {
    padding: 120px 0;

    &__content {
      width: 40%;
    }

    &__description {
      margin: 0;
    }

    &__rating {
      display: flex;
      align-items: center;
      width: 445px;
      padding: 16px 32px;

      &:nth-child(1) {
        transform: translateX(-100px);
      }

      &:nth-child(2) {
        transform: translateX(-50px);
      }

      &__body {
        margin-top: 0;
        margin-left: 32px;
      }
    }

    &__reviews {
      display: flex;
      margin-top: 90px;
    }

    &__review {
      &:not(:first-child) {
        margin-top: 0;
        margin-left: 30px;
      }

      &:nth-child(1) {
        transform: translateY(-16px);
      }

      &:nth-child(3) {
        transform: translateY(16px);
      }
    }
  }
}
